name: Update Online Days in README

on:
  schedule:
    - cron: "0 * * * *"  # Ogni ora
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Run online-days.js
        run: node online-days.js

      - name: Commit updated README
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add README.md
          git commit -m "Aggiornato numero di giorni online"
          git push
